# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# IDEs
.idea/
*.iml

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest
.cache/

# Coverage reports
htmlcov/
.coverage
